In [8]:
# Imports the pandas library
import pandas as pd

In [10]:
# Loads the cafe dataset from a CSV file into a DataFrame
cafe = pd.read_csv(r"C:\Users\rafae\OneDrive\Desktop\cafe2.csv")

In [747]:
# Displays the DataFrame
cafe

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,9/8/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,5/16/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,7/19/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,4/27/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,6/11/2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,8/30/2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,6/2/2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,3/2/2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,12/2/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,11/7/2023

In [749]:
# Provides a summary of the DataFrame
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [751]:
# Converts columns from object (character) to numeric format
cafe[['Quantity', 'Price Per Unit', 'Total Spent']] = cafe[['Quantity', 'Price Per Unit', 
                                                            'Total Spent']].apply(pd.to_numeric, errors='coerce')

In [503]:
# Displays the data types of each column
cafe.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [753]:
# Retrieves a list of the unique values from the 'Item' column
cafe['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

### CLEANING AND REFINING THE COLUMN 'Item'

In [ ]:
# The column 'Item' contains placeholder values: 'UNKNOWN', 'ERROR', and 'NaN', which must be replaced or the corresponding rows removed
# for proper cleaning

In [755]:
# Counts the occurences of the value 'UNKNOWN' in the 'Item' column 
cafe[cafe['Item'] == 'UNKNOWN'].shape[0]

344

In [757]:
# Replaces the generic 'UNKNOWN' label with the specific item based on pricing patterns
def clean_item(row):
    if row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 1:
        return 'Cookie'
    elif row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 1.5:
        return 'Tea'
    elif row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 2:
        return 'Coffee'
    elif row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 3:
        return 'Cake or Juice'
    elif row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 4:
        return 'Sandwich or Smoothie'
    elif row['Item'] == 'UNKNOWN' and row['Price Per Unit'] == 5:
        return 'Salad'
    return row['Item']

In [759]:
# Uses the custom function to update the 'Item' column, replacing 'Unknown' with the appropriate item name
cafe['Item'] = cafe.apply(clean_item, axis=1)

In [761]:
# Counts the occurences of the value 'UNKNOWN' in the 'Item' column 
cafe[cafe['Item'] == 'UNKNOWN'].shape[0]

18

In [763]:
# Calculates missing 'Price Per Unit' values by dividing 'Total Spent' by 'Quantity'
cafe['Price Per Unit'] = cafe['Price Per Unit'].fillna(cafe['Total Spent'] / cafe['Quantity'])

In [765]:
# Uses the custom function to update the 'Item' column, replacing 'Unknown' with the appropriate item name
cafe['Item'] = cafe.apply(clean_item, axis=1)

In [767]:
# Counts the occurences of the value 'UNKNOWN' in the 'Item' column 
cafe[cafe['Item'] == 'UNKNOWN'].shape[0]

2

In [769]:
# Filters the DataFrame to identify rows where 'Item' is labeled as 'UNKNOWN' 
cafe[cafe['Item'] == 'UNKNOWN']

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2289,TXN_7524977,UNKNOWN,4.0,NaN,NaN,ERROR,NaN,12/9/2023
3779,TXN_7376255,UNKNOWN,NaN,NaN,25.0,NaN,In-store,5/27/2023

In [771]:
# Counts the occurences of the value 'ERROR' in the 'Item' column 
cafe[cafe['Item'] == 'ERROR'].shape[0]

292

In [773]:
# Replaces the generic 'ERROR' label with the specific item based on pricing patterns
def clean_item2(row):
    if row['Item'] == 'ERROR' and row['Price Per Unit'] == 1:
        return 'Cookie'
    elif row['Item'] == 'ERROR' and row['Price Per Unit'] == 1.5:
        return 'Tea'
    elif row['Item'] == 'ERROR' and row['Price Per Unit'] == 2:
        return 'Coffee'
    elif row['Item'] == 'ERROR' and row['Price Per Unit'] == 3:
        return 'Cake or Juice'
    elif row['Item'] == 'ERROR' and row['Price Per Unit'] == 4:
        return 'Sandwich or Smoothie'
    elif row['Item'] == 'ERROR' and row['Price Per Unit'] == 5:
        return 'Salad'
    return row['Item']

In [775]:
# Uses the custom function to update the 'Item' column, replacing 'ERROR' with the appropriate item name
cafe['Item'] = cafe.apply(clean_item2, axis=1)

In [777]:
# Counts the occurences of the value 'ERROR' in the 'Item' column 
cafe[cafe['Item'] == 'ERROR'].shape[0]

2

In [779]:
# Filters the DataFrame to identify rows where 'Item' is labeled as 'ERROR'  
cafe[cafe['Item'] == 'ERROR']

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
4152,TXN_9646000,ERROR,2.0,NaN,NaN,NaN,In-store,12/14/2023
7597,TXN_1082717,ERROR,NaN,NaN,9.0,Digital Wallet,In-store,12/13/2023

In [781]:
# Counts the total number of 'NaN' values in the 'Item' column 
cafe[cafe['Item'].isna()].shape[0]

333

In [783]:
# Replaces the generic 'NaN' label with the specific item based on pricing patterns
def clean_item3(row):
    if pd.isna(row['Item']) and row['Price Per Unit'] == 1:
        return 'Cookie'
    elif pd.isna(row['Item']) and row['Price Per Unit'] == 1.5:
        return 'Tea'
    elif pd.isna(row['Item']) and row['Price Per Unit'] == 2:
        return 'Coffee'
    elif pd. isna(row['Item']) and row['Price Per Unit'] == 3:
        return 'Cake or Juice'
    elif pd.isna(row['Item']) and row['Price Per Unit'] == 4:
        return 'Sandwich or Smoothie'
    elif pd.isna(row['Item']) and row['Price Per Unit'] == 5:
        return 'Salad'
    return row['Item']

In [785]:
# Uses the custom function to update the 'Item' column, replacing 'NaN' with the appropriate item name
cafe['Item'] = cafe.apply(clean_item3, axis=1)

In [787]:
# Counts the total number of missing 'NaN' values in the 'Item' column 
cafe[cafe['Item'].isna()].shape[0]

2

In [789]:
# Filters the DataFrame to identify rows where 'Item' is labeled as 'NaN' 
cafe[cafe['Item'].isna()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1761,TXN_3611851,NaN,4.0,NaN,NaN,Credit Card,NaN,2/9/2023
9819,TXN_1208561,NaN,NaN,NaN,20.0,Credit Card,NaN,8/19/2023

In [791]:
# Standardizes item names by filling missing values, replacing 'ERROR', and ensuring consistent title case formatting
cafe['Item'] = cafe['Item'].fillna('UNKNOWN').replace('ERROR', 'UNKNOWN').str.title()

In [793]:
# Retrieves a list of the unique values from the 'Item' column
cafe['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Cake Or Juice',
       'Sandwich', 'Tea', 'Juice', 'Sandwich Or Smoothie', 'Unknown'],
      dtype=object)

In [795]:
# Counts the total number of 'Unknown' values in the 'Item' column 
cafe[cafe['Item'] == 'Unknown'].shape[0]

6

In [797]:
# Filters the DataFrame to identify rows where 'Item' is labeled as 'Unknown'
cafe[cafe['Item'] == 'Unknown']

# These six rows should be retained until all possible efforts have been made to determine the correct item. Tracing the transaction using
# 'Transaction Date' and 'Transaction ID' can help recover accurate item details

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1761,TXN_3611851,Unknown,4.0,NaN,NaN,Credit Card,NaN,2/9/2023
2289,TXN_7524977,Unknown,4.0,NaN,NaN,ERROR,NaN,12/9/2023
3779,TXN_7376255,Unknown,NaN,NaN,25.0,NaN,In-store,5/27/2023
4152,TXN_9646000,Unknown,2.0,NaN,NaN,NaN,In-store,12/14/2023
7597,TXN_1082717,Unknown,NaN,NaN,9.0,Digital Wallet,In-store,12/13/2023
9819,TXN_1208561,Unknown,NaN,NaN,20.0,Credit Card,NaN,8/19/2023

### CLEANING AND REFINING THE COLUMN 'Price Per Unit'

In [799]:
# Counts the total number of 'NaN' values in the 'Price Per Unit' column 
cafe[pd.isna(cafe['Price Per Unit'])].shape[0]

38

In [801]:
# Filters the DataFrame to identify rows where 'Price Per Unit' is labeled as 'NaN'
cafe[pd.isna(cafe['Price Per Unit'])].head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
65,TXN_4987129,Sandwich,3.0,NaN,NaN,NaN,In-store,10/20/2023
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,12/30/2023
912,TXN_1575608,Sandwich,NaN,NaN,20.0,ERROR,Takeaway,1/5/2023
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,3/7/2023
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,ERROR

In [803]:
# Replaces the generic 'NaN' label with the correct Price Per Unit based on the associated item
def clean_price(row):
    if pd.isna(row['Price Per Unit']) and row['Item'] == 'Cookie':
        return 1
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Tea':
        return 1.5
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Coffee':
        return 2
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Cake':
        return 3
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Juice':
        return 3
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Sandwich':
        return 4
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Smoothie':
        return 4
    elif pd.isna(row['Price Per Unit']) and row['Item'] == 'Salad':
        return 5
    return row['Price Per Unit']

In [805]:
# Uses the custom function to update the 'Price Per Unit' column, replacing 'NaN' with the appropriate item name
cafe['Price Per Unit'] = cafe.apply(clean_price, axis=1)

In [807]:
# Counts the total number of 'NaN' values in the 'Price Per Unit' column 
cafe[pd.isna(cafe['Price Per Unit'])].shape[0]

6

In [809]:
# Filters the DataFrame to identify rows where the 'Price Per Unit' column contains the value 'NaN'
cafe[pd.isna(cafe['Price Per Unit'])]

# These six rows correspond to the same entries flagged in the 'Item' colum. As previously noted, they should be traced using 
# 'Transaction Date' and 'Transaction ID' to recover accurate details before considering removal.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1761,TXN_3611851,Unknown,4.0,NaN,NaN,Credit Card,NaN,2/9/2023
2289,TXN_7524977,Unknown,4.0,NaN,NaN,ERROR,NaN,12/9/2023
3779,TXN_7376255,Unknown,NaN,NaN,25.0,NaN,In-store,5/27/2023
4152,TXN_9646000,Unknown,2.0,NaN,NaN,NaN,In-store,12/14/2023
7597,TXN_1082717,Unknown,NaN,NaN,9.0,Digital Wallet,In-store,12/13/2023
9819,TXN_1208561,Unknown,NaN,NaN,20.0,Credit Card,NaN,8/19/2023

### CLEANING AND REFINING THE COLUMN 'Quantity'

In [811]:
# Counts the total number of 'NaN' values in the 'Quantity' column 
cafe[pd.isna(cafe['Quantity'])].shape[0]

479

In [813]:
# Filters the DataFrame to identify rows where 'Quantity' is labeled as 'NaN'
cafe[pd.isna(cafe['Quantity'])]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
20,TXN_3522028,Smoothie,NaN,4.0,20.0,Cash,In-store,4/4/2023
55,TXN_5522862,Cookie,NaN,1.0,2.0,Credit Card,Takeaway,3/19/2023
57,TXN_2080895,Cake,NaN,3.0,3.0,Digital Wallet,In-store,4/19/2023
66,TXN_8501819,Juice,NaN,3.0,6.0,Cash,NaN,3/30/2023
117,TXN_2148617,Juice,NaN,3.0,9.0,Digital Wallet,UNKNOWN,1/10/2023
...,...,...,...,...,...,...,...,...
9932,TXN_8502079,Tea,NaN,1.5,3.0,Cash,NaN,4/20/2023
9935,TXN_9778251,Tea,NaN,1.5,6.0,NaN,Takeaway,11/9/2023
9944,TXN_7495283,Cake,NaN,3.0,15.0,Credit Card,Takeaway,4/14/2023
9957,TXN_6487003,Coffee,NaN,2.0,8.0,Credit Card,Takeaway,11/15/2023
9984,TXN_3142496,Smoothie,NaN,4.0,4.0,Cash,Takeaway,7/27/2023

In [815]:
# Calculates missing 'Quantity' values by dividing 'Total Spent' by 'Price Per Unit'
cafe['Quantity'] = cafe['Quantity'].fillna(cafe['Total Spent'] / cafe['Price Per Unit'])

In [817]:
# Counts the total number of 'NaN' values in the 'Quantity' column 
cafe[pd.isna(cafe['Quantity'])].shape[0]

23

In [819]:
# Filters the DataFrame to identify rows where 'Quantity' is labeled as 'NaN'
cafe[pd.isna(cafe['Quantity'])].head()

# 23 rows remain unresolved due to missing data in the 'Total Spent' column. While these rows lack essential information,
# they should be retained until tracing efforts using 'Transaction Date' and 'Transaction ID' have been completed.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,5/18/2023
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,4/15/2023
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,3/17/2023
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,5/14/2023
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,12/1/2023

### CLEANING AND REFINING THE COLUMN 'Total Spent'

In [821]:
# Counts the total number of 'NaN' values in the 'Total Spent' column 
cafe[pd.isna(cafe['Total Spent'])].shape[0]

502

In [823]:
# Filters the DataFrame to identify rows where 'Total Spent' is labeled as 'NaN'
cafe[pd.isna(cafe['Total Spent'])]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,7/19/2023
25,TXN_7958992,Smoothie,3.0,4.0,NaN,UNKNOWN,UNKNOWN,12/13/2023
31,TXN_8927252,Cookie,2.0,1.0,NaN,Credit Card,ERROR,11/6/2023
42,TXN_6650263,Tea,2.0,1.5,NaN,NaN,Takeaway,1/10/2023
65,TXN_4987129,Sandwich,3.0,4.0,NaN,NaN,In-store,10/20/2023
...,...,...,...,...,...,...,...,...
9893,TXN_3809533,Juice,2.0,3.0,NaN,Digital Wallet,Takeaway,2/2/2023
9954,TXN_1191659,Coffee,4.0,2.0,NaN,Credit Card,In-store,11/21/2023
9977,TXN_5548914,Juice,2.0,3.0,NaN,Digital Wallet,In-store,11/4/2023
9988,TXN_9594133,Cake,5.0,3.0,NaN,ERROR,NaN,NaN
9993,TXN_4766549,Smoothie,2.0,4.0,NaN,Cash,NaN,10/20/2023

In [825]:
# Calculates missing 'Total Spent' values by multiplying 'Quantity' by 'Price Per Unit'
cafe['Total Spent'].fillna(cafe['Quantity'] * cafe['Price Per Unit'], inplace=True)

In [827]:
# Counts the total number of 'NaN' values in the 'Total Spent' column 
cafe[pd.isna(cafe['Total Spent'])].shape[0]

23

In [829]:
# Filters the DataFrame to identify rows where 'Total Spent' is labeled as 'NaN'
cafe[pd.isna(cafe['Total Spent'])].head()

# 20 of These 23 rows correspond to the same entries flagged in the 'Quantity' column. As previously noted, tracing them using 
# 'Transaction Date' and 'Transaction ID' may help recover details before considering removal.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,5/18/2023
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,4/15/2023
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,3/17/2023
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,5/14/2023
1761,TXN_3611851,Unknown,4.0,NaN,NaN,Credit Card,NaN,2/9/2023

### CLEANING AND REFINING THE COLUMN 'Payment Method'

In [831]:
# Retrieves a list of the unique values from the 'Payment Method' column
cafe['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [833]:
# Standardizes Payment Methods by filling missing values, replacing 'ERROR', and ensuring consistent title case formatting
cafe['Payment Method'] = cafe['Payment Method'].fillna('Unknown').str.replace('ERROR', 'Unknown').str.title()

In [835]:
# Retrieves a list of the unique values from the 'Payment Method' column
cafe['Payment Method'].unique()

array(['Credit Card', 'Cash', 'Unknown', 'Digital Wallet'], dtype=object)

In [837]:
# Counts the total number of 'Unknown' values in the 'Payment Method' column 
cafe[cafe['Payment Method'] == 'Unknown'].shape[0]

3178

In [839]:
# Filters the DataFrame to identify rows where 'Payment Method' is labeled as 'Unknown'
cafe[cafe['Payment Method'] == 'Unknown']

# While a significant number of transactions lack a recorded payment method, these rows still offer valuable insights and should be retained.
# To enhance data accuracy, tracing through 'Transaction Date' and 'Transaction ID' should be conductd to determine the actual payment method
# for each of the 3,178 transactions.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,UNKNOWN,4/27/2023
6,TXN_4433211,Cake Or Juice,3.0,3.0,9.0,Unknown,Takeaway,10/6/2023
8,TXN_4717867,Cake Or Juice,5.0,3.0,15.0,Unknown,Takeaway,7/28/2023
9,TXN_2064365,Sandwich,5.0,4.0,20.0,Unknown,In-store,12/31/2023
13,TXN_9437049,Cookie,5.0,1.0,5.0,Unknown,Takeaway,6/1/2023
...,...,...,...,...,...,...,...,...
9985,TXN_3297457,Cake,2.0,3.0,6.0,Unknown,UNKNOWN,1/3/2023
9988,TXN_9594133,Cake,5.0,3.0,15.0,Unknown,NaN,NaN
9992,TXN_2739140,Smoothie,4.0,4.0,16.0,Unknown,In-store,7/5/2023
9994,TXN_7851634,Sandwich Or Smoothie,4.0,4.0,16.0,Unknown,NaN,1/8/2023
9995,TXN_7672686,Coffee,2.0,2.0,4.0,Unknown,UNKNOWN,8/30/2023

### CLEANING AND REFINING THE COLUMN 'Location'

In [841]:
# Retrieves a list of the unique values from the 'Location' column
cafe['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [843]:
# Standardizes Location by filling missing values, replacing 'ERROR', and ensuring consistent title case formatting
cafe['Location'] = cafe['Location'].fillna('Unknown').str.replace('ERROR', 'Unknown').str.title()

In [845]:
# Retrieves a list of the unique values from the 'Location' column
cafe['Location'].unique()

array(['Takeaway', 'In-Store', 'Unknown'], dtype=object)

In [847]:
# Counts the total number of 'Unknown' values in the 'Location' column 
cafe[cafe['Location'] == 'Unknown'].shape[0]

3961

In [849]:
# Filters the DataFrame to identify rows where 'Location' is labeled as 'Unknown'
cafe[cafe['Location'] == 'Unknown']

# While a significant number of transactions lack a recorded location, these rows still offer valuable insights and should be retained.
# To enhance data accuracy, tracing through 'Transaction Date' and 'Transaction ID' should be conductd to determine the actual location
# for each of the 3,961 transactions.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,4/27/2023
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,Unknown,3/31/2023
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,Unknown,10/28/2023
16,TXN_3765707,Sandwich,1.0,4.0,4.0,Unknown,Unknown,6/10/2023
18,TXN_8876618,Cake,5.0,3.0,15.0,Cash,Unknown,3/25/2023
...,...,...,...,...,...,...,...,...
9994,TXN_7851634,Sandwich Or Smoothie,4.0,4.0,16.0,Unknown,Unknown,1/8/2023
9995,TXN_7672686,Coffee,2.0,2.0,4.0,Unknown,Unknown,8/30/2023
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,6/2/2023
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,Unknown,3/2/2023
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,12/2/2023

### CLEANING AND REFINING THE COLUMN 'Transaction Date'

In [851]:
# Retrieves the data type of the 'Transaction Date' column
cafe['Transaction Date'].dtype

dtype('O')

In [899]:
# Converts 'Transaction Date' from object data type to datetime format
cafe['Transaction Date'] = pd.to_datetime(cafe['Transaction Date'], format='mixed', errors='coerce').dt.date

In [903]:
# Counts the total number of 'NaN' values in the 'Transaction Date' column 
cafe[pd.isna(cafe['Transaction Date'])].shape[0]

460

In [905]:
# Replaces 'NaN' in the 'Transaction Date' column with 'Unknown'
cafe['Transaction Date'] = cafe['Transaction Date'].fillna('Unknown')

In [907]:
# Counts the total number of 'NaN' values in the 'Transaction Date' column 
cafe[pd.isna(cafe['Transaction Date'])].shape[0]

0

In [909]:
# Counts the total number of 'Unknown' values in the 'Transaction Date' column 
cafe[cafe['Transaction Date'] == 'Unknown'].shape[0]

460

In [911]:
# Filters the DataFrame to identify rows where 'Transaction Date' is labeled as 'Unknown'
cafe[cafe['Transaction Date'] == 'Unknown']

# While a significant number of transactions lack a recorded Transaction Date, these rows still offer valuable insights and should be retained.
# To enhance data accuracy, tracing through 'Transaction ID' should be conductd to determine the actual date for each of the 460 transactions.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,Unknown
29,TXN_7640952,Cake,4.0,3.0,12.0,Digital Wallet,Takeaway,Unknown
33,TXN_7710508,Cookie,5.0,1.0,5.0,Cash,Unknown,Unknown
77,TXN_2091733,Salad,1.0,5.0,5.0,Unknown,In-Store,Unknown
103,TXN_7028009,Cake,4.0,3.0,12.0,Unknown,Takeaway,Unknown
...,...,...,...,...,...,...,...,...
9933,TXN_9460419,Cake,1.0,3.0,3.0,Unknown,Takeaway,Unknown
9937,TXN_8253472,Cake,1.0,3.0,3.0,Unknown,Unknown,Unknown
9949,TXN_3130865,Juice,3.0,3.0,9.0,Unknown,In-Store,Unknown
9983,TXN_9226047,Smoothie,3.0,4.0,12.0,Cash,Unknown,Unknown
9988,TXN_9594133,Cake,5.0,3.0,15.0,Unknown,Unknown,Unknown

### FINAL OVERVIEW

In [867]:
# Provides a summary of the DataFrame
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          9977 non-null   float64
 3   Price Per Unit    9994 non-null   float64
 4   Total Spent       9977 non-null   float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [869]:
# Replaces NaN values in the column 'Price Per Unit' with the placeholder 'Unknown'
cafe['Price Per Unit'] = cafe['Price Per Unit'].fillna('Unknown')

In [871]:
# Replaces NaN values in the column 'Quantity' with the placeholder 'Unknown'
cafe['Quantity'] = cafe['Quantity'].fillna('Unknown')

In [873]:
# Replaces NaN values in the column 'Total Spent' with the placeholder 'Unknown'
cafe['Total Spent'] = cafe['Total Spent'].fillna('Unknown')

In [875]:
# Provides a summary of the DataFrame
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  object
 3   Price Per Unit    10000 non-null  object
 4   Total Spent       10000 non-null  object
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: object(8)
memory usage: 625.1+ KB

In [877]:
# Counts the total occurrences of 'Unknown' across the specified columns
(cafe[['Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date']].isin(['Unknown']).sum().sum())

7657

In [879]:
# Counts the total number of 'Unknown' values in the 'Item' column 
cafe[cafe['Item'] == 'Unknown'].shape[0]

6

In [881]:
# Counts the total number of 'Unknown' values in the 'Quantity' column 
cafe[cafe['Quantity'] == 'Unknown'].shape[0]

23

In [883]:
# Counts the total number of 'Unknown' values in the 'Price Per Unit' column 
cafe[cafe['Price Per Unit'] == 'Unknown'].shape[0]

6

In [885]:
# Counts the total number of 'Unknown' values in the 'Total Spent' column 
cafe[cafe['Total Spent'] == 'Unknown'].shape[0]

23

In [887]:
# Counts the total number of 'Unknown' values in the 'Payment Method' column 
cafe[cafe['Payment Method'] == 'Unknown'].shape[0]

3178

In [889]:
# Counts the total number of 'Unknown' values in the 'Location' column 
cafe[cafe['Location'] == 'Unknown'].shape[0]

3961

In [893]:
# Counts the total number of 'Unknown' values in the 'Transaction Date' column 
cafe[cafe['Transaction Date'] == 'Unknown'].shape[0]

460

In [915]:
# Displays the DataFrame
cafe

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-Store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,Unknown,Unknown,2023-08-30
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,Unknown,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-Store,2023-11-07